:root {
  --color-bg-background: var(--color-neutral-0);
  --color-bg-card: var(--color-neutral-0);
  --color-bg-subtle: var(--color-neutral-50);
  --color-bg-muted: var(--color-neutral-200);
  --color-bg-inverse: var(--color-neutral-950);
  --color-bg-elevated: var(--color-neutral-0);
  --color-bg-mask: #ffffffe6;
  --color-bg-item: var(--color-neutral-0);
  --color-bg-item-hover: var(--color-neutral-100);
  --color-bg-item-selected: var(--color-neutral-200);
  --color-bg-brand-default: var(--color-brand-600);
  --color-bg-brand-hover: var(--color-brand-500);
  --color-bg-brand-active: var(--color-brand-700);
  --color-bg-brand-subtle: var(--color-brand-100);
  --color-bg-brand-subtlest: var(--color-brand-50);
  --color-bg-danger-default: var(--color-red-600);
  --color-bg-danger-hover: var(--color-red-500);
  --color-bg-danger-active: var(--color-red-700);
  --color-bg-danger-subtle: var(--color-red-100);
  --color-bg-danger-subtlest: var(--color-red-50);
  --color-bg-warning-default: var(--color-amber-600);
  --color-bg-warning-hover: var(--color-amber-500);
  --color-bg-warning-active: var(--color-amber-700);
  --color-bg-warning-subtle: var(--color-amber-100);
  --color-bg-warning-subtlest: var(--color-amber-50);
  --color-bg-chart-red: var(--color-red-100);
  --color-bg-chart-orange: var(--color-orange-100);
  --color-bg-chart-amber: var(--color-amber-100);
  --color-bg-chart-yellow: var(--color-yellow-100);
  --color-bg-chart-lime: var(--color-lime-100);
  --color-bg-chart-green: var(--color-green-100);
  --color-bg-chart-emerald: var(--color-emerald-100);
  --color-bg-chart-teal: var(--color-teal-100);
  --color-bg-chart-cyan: var(--color-cyan-100);
  --color-bg-chart-sky: var(--color-sky-100);
  --color-bg-chart-blue: var(--color-blue-100);
  --color-bg-chart-indigo: var(--color-indigo-100);
  --color-bg-chart-violet: var(--color-violet-100);
  --color-bg-chart-purple: var(--color-purple-100);
  --color-bg-chart-fuchsia: var(--color-fuchsia-100);
  --color-bg-chart-pink: var(--color-pink-100);
  --color-bg-chart-rose: var(--color-rose-100);
  --color-text-default: var(--color-neutral-900);
  --color-text-description: var(--color-neutral-500);
  --color-text-placeholder: var(--color-neutral-400);
  --color-text-inverse: var(--color-neutral-50);
  --color-text-brand-default: var(--color-brand-600);
  --color-text-brand-hover: var(--color-brand-500);
  --color-text-brand-active: var(--color-brand-700);
  --color-text-brand-strong: var(--color-brand-800);
  --color-text-brand-inverse: var(--color-neutral-0);
  --color-text-danger-default: var(--color-red-600);
  --color-text-danger-hover: var(--color-red-500);
  --color-text-danger-active: var(--color-red-700);
  --color-text-danger-strong: var(--color-red-800);
  --color-text-danger-inverse: var(--color-neutral-0);
  --color-text-warning-default: var(--color-amber-600);
  --color-text-warning-hover: var(--color-amber-500);
  --color-text-warning-active: var(--color-amber-700);
  --color-text-warning-strong: var(--color-amber-800);
  --color-text-warning-inverse: var(--color-neutral-0);
  --color-text-chart-red: var(--color-red-800);
  --color-text-chart-orange: var(--color-orange-800);
  --color-text-chart-amber: var(--color-amber-800);
  --color-text-chart-yellow: var(--color-yellow-800);
  --color-text-chart-lime: var(--color-lime-800);
  --color-text-chart-green: var(--color-green-800);
  --color-text-chart-emerald: var(--color-emerald-800);
  --color-text-chart-teal: var(--color-teal-800);
  --color-text-chart-cyan: var(--color-cyan-800);
  --color-text-chart-sky: var(--color-sky-800);
  --color-text-chart-blue: var(--color-blue-800);
  --color-text-chart-indigo: var(--color-indigo-800);
  --color-text-chart-violet: var(--color-violet-800);
  --color-text-chart-purple: var(--color-purple-800);
  --color-text-chart-fuchsia: var(--color-fuchsia-800);
  --color-text-chart-pink: var(--color-pink-800);
  --color-text-chart-rose: var(--color-rose-800);
  --color-border-default: var(--color-neutral-200);
  --color-border-hover: var(--color-neutral-400);
  --color-border-secondary: var(--color-neutral-100);
  --color-border-brand-default: var(--color-brand-600);
  --color-border-brand-hover: var(--color-brand-500);
  --color-border-brand-active: var(--color-brand-700);
  --color-border-brand-subtle: var(--color-brand-300);
  --color-border-brand-subtlest: var(--color-brand-200);
  --color-border-danger-default: var(--color-red-600);
  --color-border-danger-hover: var(--color-red-500);
  --color-border-danger-active: var(--color-red-700);
  --color-border-danger-subtle: var(--color-red-300);
  --color-border-danger-subtlest: var(--color-red-200);
  --color-border-warning-default: var(--color-amber-600);
  --color-border-warning-hover: var(--color-amber-500);
  --color-border-warning-active: var(--color-amber-700);
  --color-border-warning-subtle: var(--color-amber-300);
  --color-border-warning-subtlest: var(--color-amber-200);
  --color-border-chart-red: var(--color-red-300);
  --color-border-chart-orange: var(--color-orange-300);
  --color-border-chart-amber: var(--color-amber-300);
  --color-border-chart-yellow: var(--color-yellow-300);
  --color-border-chart-lime: var(--color-lime-300);
  --color-border-chart-green: var(--color-green-300);
  --color-border-chart-emerald: var(--color-emerald-300);
  --color-border-chart-teal: var(--color-teal-300);
  --color-border-chart-cyan: var(--color-cyan-300);
  --color-border-chart-sky: var(--color-sky-300);
  --color-border-chart-blue: var(--color-blue-300);
  --color-border-chart-indigo: var(--color-indigo-300);
  --color-border-chart-violet: var(--color-violet-300);
  --color-border-chart-purple: var(--color-purple-300);
  --color-border-chart-fuchsia: var(--color-fuchsia-300);
  --color-border-chart-pink: var(--color-pink-300);
  --color-border-chart-rose: var(--color-rose-300);
  --color-icon-default: var(--color-neutral-500);
  --color-icon-hover: var(--color-neutral-800);
  --color-icon-active: var(--color-neutral-900);
  --color-icon-inverse: var(--color-neutral-50);
  --color-icon-brand-default: var(--color-brand-600);
  --color-icon-brand-hover: var(--color-brand-500);
  --color-icon-brand-active: var(--color-brand-700);
  --color-icon-brand-strong: var(--color-brand-800);
  --color-icon-brand-inverse: var(--color-neutral-0);
  --color-icon-danger-default: var(--color-red-600);
  --color-icon-danger-hover: var(--color-red-500);
  --color-icon-danger-active: var(--color-red-700);
  --color-icon-danger-strong: var(--color-red-800);
  --color-icon-danger-inverse: var(--color-neutral-0);
  --color-icon-warning-default: var(--color-amber-600);
  --color-icon-warning-hover: var(--color-amber-500);
  --color-icon-warning-active: var(--color-amber-700);
  --color-icon-warning-strong: var(--color-amber-800);
  --color-icon-warning-inverse: var(--color-neutral-0);
  --color-icon-chart-red: var(--color-red-800);
  --color-icon-chart-orange: var(--color-orange-800);
  --color-icon-chart-amber: var(--color-amber-800);
  --color-icon-chart-yellow: var(--color-yellow-800);
  --color-icon-chart-lime: var(--color-lime-800);
  --color-icon-chart-green: var(--color-green-800);
  --color-icon-chart-emerald: var(--color-emerald-800);
  --color-icon-chart-teal: var(--color-teal-800);
  --color-icon-chart-cyan: var(--color-cyan-800);
  --color-icon-chart-sky: var(--color-sky-800);
  --color-icon-chart-blue: var(--color-blue-800);
  --color-icon-chart-indigo: var(--color-indigo-800);
  --color-icon-chart-violet: var(--color-violet-800);
  --color-icon-chart-purple: var(--color-purple-800);
  --color-icon-chart-fuchsia: var(--color-fuchsia-800);
  --color-icon-chart-pink: var(--color-pink-800);
  --color-icon-chart-rose: var(--color-rose-800);
  --border-radius-sm: calc(var(--border-radius-default) - 2px);
  --border-radius-default: 6px;
  --border-radius-lg: calc(var(--border-radius-default) + 2px);
  --opacity-visible: 1;
  --opacity-hover: 0.8;
  --opacity-disabled: 0.5;
  --opacity-loading: 0.3;
  --opacity-invisible: 0;
}
.dark {
  --color-bg-background: var(--color-neutral-950);
  --color-bg-card: var(--color-neutral-950);
  --color-bg-subtle: var(--color-neutral-1000);
  --color-bg-muted: var(--color-neutral-800);
  --color-bg-inverse: var(--color-neutral-0);
  --color-bg-elevated: var(--color-neutral-950);
  --color-bg-mask: #09090be6;
  --color-bg-item: var(--color-neutral-950);
  --color-bg-item-hover: var(--color-neutral-900);
  --color-bg-item-selected: var(--color-neutral-800);
  --color-bg-brand-default: var(--color-brand-600);
  --color-bg-brand-hover: var(--color-brand-700);
  --color-bg-brand-active: var(--color-brand-500);
  --color-bg-brand-subtle: var(--color-brand-950);
  --color-bg-brand-subtlest: var(--color-brand-950);
  --color-bg-danger-default: var(--color-red-600);
  --color-bg-danger-hover: var(--color-red-700);
  --color-bg-danger-active: var(--color-red-500);
  --color-bg-danger-subtle: var(--color-red-950);
  --color-bg-danger-subtlest: var(--color-red-950);
  --color-bg-warning-default: var(--color-amber-600);
  --color-bg-warning-hover: var(--color-amber-500);
  --color-bg-warning-active: var(--color-amber-700);
  --color-bg-warning-subtle: var(--color-amber-950);
  --color-bg-warning-subtlest: var(--color-amber-950);
  --color-bg-chart-red: var(--color-red-950);
  --color-bg-chart-orange: var(--color-orange-950);
  --color-bg-chart-amber: var(--color-amber-950);
  --color-bg-chart-yellow: var(--color-yellow-950);
  --color-bg-chart-lime: var(--color-lime-950);
  --color-bg-chart-green: var(--color-green-950);
  --color-bg-chart-emerald: var(--color-emerald-950);
  --color-bg-chart-teal: var(--color-teal-950);
  --color-bg-chart-cyan: var(--color-cyan-950);
  --color-bg-chart-sky: var(--color-sky-950);
  --color-bg-chart-blue: var(--color-blue-950);
  --color-bg-chart-indigo: var(--color-indigo-950);
  --color-bg-chart-violet: var(--color-violet-950);
  --color-bg-chart-purple: var(--color-purple-950);
  --color-bg-chart-fuchsia: var(--color-fuchsia-950);
  --color-bg-chart-pink: var(--color-pink-950);
  --color-bg-chart-rose: var(--color-rose-950);
  --color-text-default: var(--color-neutral-50);
  --color-text-description: var(--color-neutral-400);
  --color-text-placeholder: var(--color-neutral-500);
  --color-text-inverse: var(--color-neutral-900);
  --color-text-brand-default: var(--color-brand-500);
  --color-text-brand-hover: var(--color-brand-600);
  --color-text-brand-active: var(--color-brand-400);
  --color-text-brand-strong: var(--color-brand-300);
  --color-text-brand-inverse: var(--color-neutral-0);
  --color-text-danger-default: var(--color-red-500);
  --color-text-danger-hover: var(--color-red-600);
  --color-text-danger-active: var(--color-red-400);
  --color-text-danger-strong: var(--color-red-300);
  --color-text-danger-inverse: var(--color-neutral-0);
  --color-text-warning-default: var(--color-amber-500);
  --color-text-warning-hover: var(--color-amber-600);
  --color-text-warning-active: var(--color-amber-400);
  --color-text-warning-strong: var(--color-amber-300);
  --color-text-warning-inverse: var(--color-neutral-0);
  --color-text-chart-red: var(--color-red-300);
  --color-text-chart-orange: var(--color-orange-300);
  --color-text-chart-amber: var(--color-amber-300);
  --color-text-chart-yellow: var(--color-yellow-300);
  --color-text-chart-lime: var(--color-lime-300);
  --color-text-chart-green: var(--color-green-300);
  --color-text-chart-emerald: var(--color-emerald-300);
  --color-text-chart-teal: var(--color-teal-300);
  --color-text-chart-cyan: var(--color-cyan-300);
  --color-text-chart-sky: var(--color-sky-300);
  --color-text-chart-blue: var(--color-blue-300);
  --color-text-chart-indigo: var(--color-indigo-300);
  --color-text-chart-violet: var(--color-violet-300);
  --color-text-chart-purple: var(--color-purple-300);
  --color-text-chart-fuchsia: var(--color-fuchsia-300);
  --color-text-chart-pink: var(--color-pink-300);
  --color-text-chart-rose: var(--color-rose-300);
  --color-border-default: var(--color-neutral-800);
  --color-border-hover: var(--color-neutral-600);
  --color-border-secondary: var(--color-neutral-900);
  --color-border-brand-default: var(--color-brand-600);
  --color-border-brand-hover: var(--color-brand-700);
  --color-border-brand-active: var(--color-brand-500);
  --color-border-brand-subtle: var(--color-brand-800);
  --color-border-brand-subtlest: var(--color-brand-800);
  --color-border-danger-default: var(--color-red-600);
  --color-border-danger-hover: var(--color-red-700);
  --color-border-danger-active: var(--color-red-500);
  --color-border-danger-subtle: var(--color-red-800);
  --color-border-danger-subtlest: var(--color-red-800);
  --color-border-warning-default: var(--color-amber-600);
  --color-border-warning-hover: var(--color-amber-700);
  --color-border-warning-active: var(--color-amber-500);
  --color-border-warning-subtle: var(--color-amber-800);
  --color-border-warning-subtlest: var(--color-amber-800);
  --color-border-chart-red: var(--color-red-800);
  --color-border-chart-orange: var(--color-orange-800);
  --color-border-chart-amber: var(--color-amber-800);
  --color-border-chart-yellow: var(--color-yellow-800);
  --color-border-chart-lime: var(--color-lime-800);
  --color-border-chart-green: var(--color-green-800);
  --color-border-chart-emerald: var(--color-emerald-800);
  --color-border-chart-teal: var(--color-teal-800);
  --color-border-chart-cyan: var(--color-cyan-800);
  --color-border-chart-sky: var(--color-sky-800);
  --color-border-chart-blue: var(--color-blue-800);
  --color-border-chart-indigo: var(--color-indigo-800);
  --color-border-chart-violet: var(--color-violet-800);
  --color-border-chart-purple: var(--color-purple-800);
  --color-border-chart-fuchsia: var(--color-fuchsia-800);
  --color-border-chart-pink: var(--color-pink-800);
  --color-border-chart-rose: var(--color-rose-800);
  --color-icon-default: var(--color-neutral-400);
  --color-icon-hover: var(--color-neutral-100);
  --color-icon-active: var(--color-neutral-500);
  --color-icon-inverse: var(--color-neutral-900);
  --color-icon-brand-default: var(--color-brand-500);
  --color-icon-brand-hover: var(--color-brand-600);
  --color-icon-brand-active: var(--color-brand-400);
  --color-icon-brand-strong: var(--color-brand-300);
  --color-icon-brand-inverse: var(--color-neutral-0);
  --color-icon-danger-default: var(--color-red-500);
  --color-icon-danger-hover: var(--color-red-600);
  --color-icon-danger-active: var(--color-red-400);
  --color-icon-danger-strong: var(--color-red-300);
  --color-icon-danger-inverse: var(--color-neutral-0);
  --color-icon-warning-default: var(--color-amber-500);
  --color-icon-warning-hover: var(--color-amber-600);
  --color-icon-warning-active: var(--color-amber-400);
  --color-icon-warning-strong: var(--color-amber-300);
  --color-icon-warning-inverse: var(--color-neutral-0);
  --color-icon-chart-red: var(--color-red-300);
  --color-icon-chart-orange: var(--color-orange-300);
  --color-icon-chart-amber: var(--color-amber-300);
  --color-icon-chart-yellow: var(--color-yellow-300);
  --color-icon-chart-lime: var(--color-lime-300);
  --color-icon-chart-green: var(--color-green-300);
  --color-icon-chart-emerald: var(--color-emerald-300);
  --color-icon-chart-teal: var(--color-teal-300);
  --color-icon-chart-cyan: var(--color-cyan-300);
  --color-icon-chart-sky: var(--color-sky-300);
  --color-icon-chart-blue: var(--color-blue-300);
  --color-icon-chart-indigo: var(--color-indigo-300);
  --color-icon-chart-violet: var(--color-violet-300);
  --color-icon-chart-purple: var(--color-purple-300);
  --color-icon-chart-fuchsia: var(--color-fuchsia-300);
  --color-icon-chart-pink: var(--color-pink-300);
  --color-icon-chart-rose: var(--color-rose-300);
  --border-radius-sm: calc(var(--border-radius-default) - 2px);
  --border-radius-default: 6px;
  --border-radius-lg: calc(var(--border-radius-default) + 2px);
  --opacity-visible: 1;
  --opacity-hover: 0.8;
  --opacity-disabled: 0.5;
  --opacity-loading: 0.3;
  --opacity-invisible: 0;
}
