/* Import css files */
@import "../../../packages/config/theme/shared-globals.css";
@import "./docs.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nextra-primary-hue: 217deg;
  --nextra-primary-saturation: 91%;
}

.link {
  @apply text-brand underline-offset-1;
}

.code {
  @apply font-mono;
}

.logo {
  font-size: 1.4rem;
  @apply font-semibold tracking-tight;
}

/* Fix Nextra */
.nx-px-2 {
  @apply px-4 !important;
}

.nx-rounded {
  @apply rounded !important;
}

.nx-rounded-lg {
  @apply rounded-lg !important;
}

input {
  @apply bg-subtle border-default text-md block w-full appearance-none rounded-lg border px-3 py-2 leading-tight transition-colors focus:ring-1 focus:ring-offset-1 focus:ring-offset-transparent !important;
}

.input-docs {
  @apply border-default bg-card text-md ring-offset-background file:text-md-medium file:text placeholder:text-placeholder focus-visible:border-default focus-visible:ring-brand focus-visible:ring-offset-background disabled:opacity-disabled flex h-9 w-full rounded border px-3 py-1 file:border-0 file:bg-transparent file:py-[2px] focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed !important;
}
